<html>
<head><title>Form Upload It</title>
</head>
<body>
	<form action="" method="POST" enctype="multipart/form-data">
		<input type="file" name="gfile"/>
		<input type="submit" value="Upload File"/>
	</form>
</body>
</html>