<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Purchase</title>
  <meta name="generator" content="kubuskotak">
  <link href="{{baseurl}}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="{{baseurl}}assets/css/invoice.css" rel="stylesheet" type="text/css">
  <link href="{{baseurl}}assets/css/font.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container-fluid invoice-container">
    <div class="row">
      <div class="col-sm-7">
        <h3>Invoice #RCS-2412-07-12-2015</h3>
      </div>
      <div class="col-sm-5 text-center">
        <div class="invoice-status">
          <span class="paid">Paid</span>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6 pull-sm-right text-right-sm">
        <strong>Pay To:</strong>
        <address class="small-text">
          Riau Cyber Solution<br>
          Bank Name: BCA (SWIFT CODE : CENAIDJA)<br>
          Payee Name: Mhd Saleh Hafizh Fajri<br>
          Account Number:0342 147 681<br>
          Bank Name: Mandiri (SWIFT CODE : BMRIIDJA)<br>
          Payee Name: Mhd Saleh Hafizh Fajri<br>
          Account Number:108 00 1166278 1<br>
          Paypal : pay@hideserver.net
        </address>
      </div>
      <div class="col-sm-6">
        <strong>Invoiced To:</strong>
        <address class="small-text">
          kubuskotak<br> Nanang Suryadi<br>
          sukolilo dian regency rejeki 2/18, <br>
          surabaya, east java, 60111<br>
          Indonesia
        </address>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <strong>Payment Method:</strong><br>
        <span class="small-text">
          Bank Mandiri
        </span>
        <br><br>
      </div>
      <div class="col-sm-6 text-right-sm">
        <strong>Invoice Date:</strong><br>
        <span class="small-text">
          06/12/2015<br><br>
        </span>
      </div>
    </div>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Invoice Items</strong></h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr>
                <td><strong>Description</strong></td>
                <td width="20%" class="text-center"><strong>Amount</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>RCS IIX Reseller I - kubuskotak.com (27/12/2015 - 26/12/2016)</td>
                <td class="text-center">Rp. 600,000.00</td>
              </tr>
              <tr>
                <td>Promotional Code: RCS-2-Yrs - 50.00% Recurring Discount</td>
                <td class="text-center">Rp. -300,000.00</td>
              </tr>
              <tr>
                <td class="total-row text-right"><strong>Sub Total</strong></td>
                <td class="total-row text-center">Rp. 300,000.00</td>
              </tr>
              <tr>
                <td class="total-row text-right"><strong>Credit</strong></td>
                <td class="total-row text-center">Rp. 0.00</td>
              </tr>
              <tr>
                <td class="total-row text-right"><strong>Total</strong></td>
                <td class="total-row text-center">Rp. 300,000.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="transactions-container small-text">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <td class="text-center"><strong>Transaction Date</strong></td>
              <td class="text-center"><strong>Gateway</strong></td>
              <td class="text-center"><strong>Transaction ID</strong></td>
              <td class="text-center"><strong>Amount</strong></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">07/12/2015</td>
              <td class="text-center">Bank Mandiri</td>
              <td class="text-center">SA OB SA NO BOOK
                INVOICE-4558
                DARI NANANG SURYADI
              </td>
              <td class="text-center">Rp. 300,000.00</td>
            </tr>
            <tr>
              <td class="text-right" colspan="3"><strong>Balance</strong></td>
              <td class="text-center">Rp. 0.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pull-right btn-group btn-group-sm hidden-print">
      <a href="javascript:window.print()" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
      <a href="dl.php?type=i&amp;id=4558" class="btn btn-default"><i class="fa fa-download"></i> Download</a>
    </div>
  </div>
  <p class="text-center hidden-print"><a href="clientarea.php">« Back to Client Area</a></p>
</body>
</html>
