{% extends 'index.twig' %}
{% block css %}

{% endblock %}
{% block js %}

{% endblock %}
{% block content %}
<!-- Info blocks -->
<ul class="info-blocks">
    <li class="bg-primary">
        <div class="top-info">
            <a href="#">Total Pendapatan</a>
            <small>pendapatan dari penjualan</small>
        </div>
        <a href="#"><i class="icon-coin"></i></a>
        <span class="bottom-info bg-danger">123.000.00,00 Rupiah</span>
    </li>

    <li class="bg-danger">
        <div class="top-info">
            <a href="#">Pendaftaran Apotik</a>
            <small>Total Pendaftar Apotik</small>
        </div>
        <a href="#"><i class="icon-people"></i></a>
        <span class="bottom-info bg-primary">3 Pendaftar</span>
    </li>
    <li class="bg-info">
        <div class="top-info">
            <a href="#">Stok Saldo</a>
            <small>total saldo seluruh stok</small>
        </div>
        <a href="#"><i class="icon-stack"></i></a>
        <span class="bottom-info bg-primary">24 Total Seluruh Stok</span>
    </li>

    <li class="bg-primary">
        <div class="top-info">
            <a href="#">Penjualan</a>
            <small>Tagihan penjualan</small>
        </div>
        <a href="#"><i class="icon-cart5"></i></a>
        <span class="bottom-info bg-danger">9 Tagihan penjualan</span>
    </li>
</ul>
<!-- /info blocks -->
{% endblock %}