<div class="footer clearfix">
	<div class="pull-left">
  Copyrights and trademarks for Tekkadan &trade;. &copy;2016 Tekkadan Health Care Management System.
<strong> {{version}}</strong>
  </div>
	<div class="pull-right icons-group">
		<a href="http://www.facebook.com"><i class="icon-facebook"></i></a>
		<a href="http://www.twitter.com"><i class="icon-twitter"></i></a>
		<a href="http://www.google.com"><i class="icon-google-plus"></i></a>
	</div>
</div>
