<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="{{baseurl}}assets/images/logo.png" alt="Londinium"></a>
        <a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons">
            <span class="sr-only">Toggle navbar</span>
            <i class="icon-grid3"></i>
        </button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
            <span class="sr-only">Toggle navigation</span>
            <i class="icon-paragraph-justify2"></i>
        </button>
    </div>

	<ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">
		<li class="user dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">
				<!-- <img src="assets/images/nanang_small.png" alt=""> -->
        <i class="icon-user2"></i>
				<span><strong>{{auth['name'] | capitalize}}</strong></span>
				<i class="caret"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right icons-right">
				{# <li><a href="#"><i class="icon-user"></i> Profile</a></li>
				<li><a href="#"><i class="icon-bubble4"></i> Messages</a></li>
				<li><a href="#"><i class="icon-cog"></i> Settings</a></li> #}
				<li><a href="{{ urlFor('logout') }}"><i class="icon-exit"></i> Logout</a></li>
			</ul>
		</li>
	</ul>
</div>
