{% block MsgBox %}
{% if flashIt('info') or flashIt('error') %}
{% if flashIt('info') %}
<div class="callout callout-info fade in">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<h5>Info message</h5>
	<p>{{ flashIt('info') }}</p>
</div>
{% endif %}
{% if flashIt('error') %}
<div class="callout callout-danger fade in">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<h5>Error message</h5>
	<p>{{ flashIt('error') }}</p>
</div>
{% endif %}
{% endif %}
{% endblock %}